@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --primary: ;
  --text: ;
  --secondary: ;
}

html.dark {
  --primary: ;
  --text: ;
  --secondary: ;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
