@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://coolors.co/355070-6d597a-b56576-e56b6f-eaac8b */
/* https://coolors.co/264653-228176-e9c46a-f4a261-e76f51 */
:root {
  --dark-gray: #837b82;
}

/* https://coolors.co/ffcdb2-ffb4a2-e5989b-b5838d-6d6875 */
html {
  --primary: #aa5140;
  --secondary: #dfc7ad;
  --background: #e6fcff;
  --text: #373141;
}

/* https://coolors.co/22223b-4a4e69-9a8c98-c9ada7-f2e9e4 */
html.dark {
  --secondary: #5e6088;
  --background: var(--dark-gray);
  --text: #ffedd9;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
  background-color: var(--background);
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 700ms;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

section {
  scroll-margin-top: 4rem;
  scroll-snap-margin-top: 4rem;
}

.react-btn {
  background-color: #61dafb;
  color: black;
}

.next-btn {
  background-color: black;
  color: white;
}

.javascript-btn {
  background-color: #f0db4f;
  color: black;
}

.typescript-btn {
  background-color: #007acc;
  color: white;
}

.redux-btn {
  background-color: #764abc;
  color: white;
}

.python-btn {
  background-color: #366f9f;
  color: #ffd650;
}

.redis-btn {
  background-color: #a41e11;
  color: white;
}

.aws-btn {
  background-color: #f58534;
  color: black;
}

.sqlite-btn {
  background-color: #003b57;
  color: #8fd4f3;
}

.beanstalk-btn {
  background-color: #62c472;
  color: #24723c;
}

.firebase-btn {
  background-color: #ffa000;
  color: #63666a;
}
